<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <div class="alignRow">
      <a href="/"><img class="homepage" src="/images/logo.png"></a>
      <a href="/movies">Movies</a>
      <a href="/movies/create">Input movie</a>
    </div>
    <div class="alignRow2">
      {{!-- <a href="/secret">Protected page (requires authentication!)</a> --}}
      {{#if user}}
      <p>{{user.username}}</p>
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      <a href="/signup">Sign up</a>
      {{/if}}
    </div>


  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>