<form class="formColumn" action="/signup" method="POST">
  <h2>Sign Up Now!</h2>
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Your username" class="form1" required><br>

  <label for="password">Password</label><br>
  <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="********"
    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
    class="form1" required><br>

  <label for="email">Email</label><br>
  <input type="email" name="email" placeholder="Your email address" class="form1" required></input>

  <label for="firstname">First Name</label><br>
  <input type="text" name="firstname" placeholder="First name" class="form1" required>

  <label for="lastname">Last Name</label><br>
  <input type="text" name="lastname" placeholder="Last name" class="form1" required>

  <button typ="submit" id="signUpSubmit">Create account</button>
</form>

{{#if errorMessage}}
<div class="error-message"> {{errorMessage}}</div>
{{/if}}